extends base.pug

block content
  if isError
    div.ui.red.message
      strong Ошибка!
      span  Извините, но в данный момент база данных Maman Brigitte недоступно. Обратитесь в поддержку
  if isEmpty
    div.ui.yellow.message
      strong Ничего не найдено =(
      span  Извините, но по вашему запросу ничего не найдено
  else
    if isSaveError
      div.ui.red.message
        strong Ошибка!
        span  Извините, не получается сохранить изменения в БД.
    if isSavedSuccess
      div.ui.green.message
        strong Поздравляем!
        span  Сохранение прошло успешно.
    div.ui.grid
      div.three.column.row
        div.column.ten.wide.centered
          form.ui.form(method="post")
            div.ui.grid
              div.row
                div.column.eight.wide
                  div.field
                    label Наименование микросервиса
                    input(type="text", placeholder="Наименование", name="name", value=result.name)
                  div.field
                    label Ссылка на GitLab
                    input(type="text", placeholder="Gitlab", name="gitlab", value=result.gitlab)
                  div.field
                    label Версия
                    input(type="text", placeholder="Версия", name="version", value=result.version)
                  div.field
                    label Описание функция
                    textarea(name="description") #{result.description}
                  div.field
                    label Владелец
                    input(type=text, placeholder="neuromanticjs", name="owner", value=result.owner)
                div.column.eight.wide
                  div.field
                    label Ссылка на документацию
                    input(type="text", placeholder="Документация", name="documentation", value=result.documentation)
                  div.field
                    label Системные требования
                    input(type="text", placeholder="Системные требования", name="requements", value = result.requements)
                  div.field
                    label Дата релиза
                    input(type="text", placeholder="Наименование", name="date", value = result.date)
                  div.field
                    label Зависимости
                    textarea(name="dependencies") #{result.dependencies}
                  if isModerator
                    button.ui.blue.submit.button(type="submit") Сохранить
                  if isRoot
                    button.ui.blue.submit.button(type="submit") Сохранить
                  button.ui.blue.submit.button(type="submit") Сохранить
                  a.ui.button.negative(href="/list") Назад
